:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--sans);
  /* font: var(--sans); */
  color-scheme: light dark;
  text-align: center;
}

h1 {
  font-weight: 500;
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

p {
  font-size: 18px;
}